---
import Base from "../layouts/Base.astro"
---
<Base>
  <h1>Image loading strategies</h1>
  <ol>
    <li><a href="/no-lazy-loading/">No lazy loading</a></li>
    <li><a href="/lazy-loading-no-height-width/">Lazy loading, but not optimized!</a></li>
    <li> <a href="/lazy-loading-best/">Lazy loading, with width/height attributes on images</a></li>
  </ol>

  <a href="https://github.com/whitep4nth3r/image-loading-strategies/tree/main">View source code on GitHub</a>
</Base>
