---
import Base from "../layouts/Base.astro"
import { randomWords } from "../utils/random.js"

const createItems = (amount:number): number[] => {
  const result = [];
  for (let i = 0; i < amount; i++) {
    result.push(i);
  }

  return result;
}

const items = createItems(100);

---

<style>
  ul {
    padding-inline-start: 0;
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }

  img {
    max-width: 100%;
    height: auto;
  }
</style>

<Base title="Lazy loading images with width/height specified">
  <a href="/">Go to homepage</a>
  <h1>Lazy loading images outside of the viewport</h1>
  <h2>100 images</h2>
  <h3>Height/width specified on images to prevent CLS</h3>
  <p>Images are lazy loaded from the fifth one onwards. The number of lazy loaded images is a best-guest — you may want to optimise this using JavaScript to determine what is visible in the browser on different devices.</p>

  <ul>
    {items.map((i) => {
      if (i >= 4) {
        return (
          <li>
            <img src={`https://source.unsplash.com/random/500x500/?image=${randomWords[i]}`} height="500" width="500" loading="lazy" alt="random image" />
          </li>
        )
      }

      return (
        <li>
          <img src={`https://source.unsplash.com/random/500x500/?image=${randomWords[i]}`} height="500" width="500" alt="random image" />
        </li>
      )
    })}
  </ul>

</Base>
