---
import Base from "../layouts/Base.astro"
import { randomWords } from "../utils/random.js"

const createItems = (amount:number): number[] => {
  const result = [];
  for (let i = 0; i < amount; i++) {
    result.push(i);
  }

  return result;
}

const items = createItems(100);

---

<style>
  ul {
    padding-inline-start: 0;
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }

  img {
    width: 100%;
  }
</style>

<Base>
  <a href="/">Go to homepage</a>
  <h1>No lazy loading!</h1>
  <h2>100 images</h2>
  <h3>No height/width specified on images</h3>

  <ul>
    {items.map((i) => (
      <li>
        <img src={`https://source.unsplash.com/random/500x500/?image=${randomWords[i]}`} alt="random image" />
      </li>
    ))}
  </ul>

</Base>
